*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
p{
    padding: 10px;
}

a{
    padding: 10px;
}
/* --------------------------------------BARRA DE NAVEGACION */
.container{
    width: 90%;
    margin: auto;
}

.barra-navegacion{
    margin-bottom: 10px;
    background-color: #000000;
}

.nav-main{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
}

.nav-main ul li a{
    color: #fff;
}

.nav-derecha{
    display: flex;
}

.nav-izquierda li a{
    padding: 10px;
}

.nav-derecha li a{
    padding: 10px;
}


ul li a:hover{
    border-bottom: 3px solid #fff;
    cursor: pointer;
}

/* --------------------------------------------------------------CODIGO DE LA SEGUNDA PARTE */
.showcase{
    background-image: url("./img/showcase2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    color: white;
    display: flex;
    margin-bottom: 25px;
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin-left: 15px;
    border-radius: 5px;
  }

.btn:hover {
    opacity: 0.7;
  }

.texto{
    margin-left: 30px;
}

.texto h2{
    margin-top: 100px;
    margin-bottom: 25px;
}

.texto p{
    margin-bottom: 25px
}

.image{
    margin-left: 300px;
    margin-top: 50px;
    border-radius: 1px 1px;
    height: 300px;
}

/* --------------------------------------------------CODIGO DE LA TERCERA PARTE */
    
.tipos{
    display: flex;

}

.tipos-izquierda{
    background-image: url("./img/back1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 425px;
    color: #fff;
    margin-bottom: 25px;
    margin-right: 20px;
    border-radius: 5px;
}

.tipos-derecha-arriba{
    background-image: url("./img/back2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    color: #fff;
    margin-bottom: 25px;
    border-radius: 5px;
}

.tipos-derecha-abajo{
    background-image: url("./img/back3.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    color: #fff;
    margin-bottom: 25px;
    border-radius: 5px;
}

/*---------------------------------------- CODIGO DE LAS ESPECIFICACIONES */

.especificaciones{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}



.espe-image{
    height: 100px;
}

h3{
    text-align: center;
}

/*---------------------------------------------------------CODIGO DEL FOOTER */
i{
    color: orange;
}

.pie{
    background-color: #323232;
    color: white;
    padding: 10px;
    text-align: center;
}

.iconos{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

