*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
p{
    padding: 10px;
}

a{
    padding: 10px;
}
/* --------------------------------------BARRA DE NAVEGACION */
.container{
    width: 90%;
    margin: auto;
}

.barra-navegacion{
    margin-bottom: 10px;
    background-color: #000000;
}

.nav-main{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
}

.nav-main ul li a{
    color: #fff;
}

.nav-derecha{
    display: flex;
}

.nav-izquierda li a{
    padding: 10px;
}

.nav-derecha li a{
    padding: 10px;
}


ul li a:hover{
    border-bottom: 3px solid #fff;
    cursor: pointer;
}


.showcase{
    background-image: url("./img/showcase2.jpg");
    width: 100%;
    height: 400px;
    color: white;
    display: flex;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin-left: 15px;
    border-radius: 5px;
  }

.btn:hover {
    opacity: 0.7;
  }

.texto{
    margin-left: 30px;
}

.texto h2{
    margin-top: 100px;
    margin-bottom: 25px;
}

.texto p{
    margin-bottom: 25px
}

.image{
    margin-left: 400px;
    margin-top: 50px;
    border-radius: 5px;
}


    


